@import url('http://fonts.googleapis.com/css?family=Oswald');

#app {
  font-family: Oswald, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 1rem;
}

.tiers-grid {
	display: grid;
	justify-items: center;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, minmax(110px, max-content));
  grid-template-areas:
    'loved . . . .'
    'liked . . . .'
    'disliked . . . .'
    'ondeck . . . .';
	margin: 2rem 4rem 3rem 4rem;
  grid-gap: 6px;

  .loved { grid-area: loved; }
	.liked { grid-area: liked; }
	.disliked { grid-area: disliked; }
	.ondeck { grid-area: ondeck; }

  .row-header {
    font-size: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Tier rows have same grid-column values
  div[class$='-row'] {
    grid-column: 2 / span 4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .loved-row { grid-row: 1; }
  .liked-row { grid-row: 2; }
  .disliked-row { grid-row: 3; }
  .ondeck-row { grid-row: 4; }

  .loved,
  .loved-row,
  .disliked,
  .disliked-row {
    background-color: rgba(#3c5df4, 0.2);
  }

  .liked,
  .liked-row,
  .ondeck,
  .ondeck-row {
    background-color: rgba(#7fd9f3, 0.2);
  }
}

.library-grid {
  display: grid;
  justify-items: center;
	justify-content: center;
	align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 6px;
  margin: 2rem 4rem;
}

.list-group-item {
  height: 110px;
  width: 250px;
  padding: 4px;
  background-size: contain;
  background-repeat: no-repeat;
}
